<div class="navbar d-flex">
  <h4>Soleil</h4>
  <h4>Pluie</h4>
  <h4>Vent</h4>
</div>
<h1>Couc<span style="color: #9c4634; z-index: 1; opacity: 0.8;">her de </span>soleil</h1>
<svg style="contain: size;" viewBox="0 0 618 610" fill="none" xmlns="http://www.w3.org/2000/svg">
  <clipPath class="clip-path" id="bubble" clipPathUnits="objectBoundingBox">
    <path id="svgPath" d="M618 293C618 458 488 628 317 608C143 593 31 452 2.00001 293C-20 134 159.03 0 333 0C506.97 0 604 123 618 293Z" fill="#C4C4C4"/>
  </clipPath>
</svg>


<div class="video-wrapper">
  <%= video_tag "https://static.videezy.com/system/resources/previews/000/041/670/original/sunset_water.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "video" %>
</div>
